{% extends "study/base_template.html" %}

{% block title %}Knowledge Base{% endblock %}

{% block nav-knowledge_base %}w3-white"{% endblock %}

{% block header-title %}Knowledge Base{% endblock %}
{% block header-footer %}Scour through the plethora of academic documents and materials curated by the community, <br> for the community!{% endblock %}


































{#<!doctype html>#}
{#<html lang="en">#}
{#  <head>#}
{#    <meta charset="utf-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">#}
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">#}
{#    <title>Knowledge Base</title>#}
{#  </head>#}
{#  <body>#}
{##}
{#  <div>Navbar</div>#}
{#  {% include "study/nav_bar_base_template.html" %}#}
{##}
{#  <hr>#}
{#    <div class="container">#}
{#      <div class="row justify-content-center">#}
{#        <div class="col-8">#}
{#          <h1 class="mt-2">Knowledge Base</h1>#}
{#          <hr class="mt-0 mb-4">#}
{#          {% block content %}#}
{#          {% endblock %}#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </body>#}
{#</html>#}