{% load static %}

<!DOCTYPE html>

<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
</style>

<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-green w3-card w3-left-align w3-xlarge">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-white" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{% url 'homepage' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large {% block nav-homepage %}w3-hover-white"{% endblock %}>Home</a>
    <a href="{% url 'grind' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large {% block nav-grind %}w3-hover-white"{% endblock %}>Grind</a>
    <a href="{% url 'knowledge_base' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large {% block nav-knowledge_base %}w3-hover-white"{% endblock %}>Knowledge Base</a>
    <a href="{% url 'about' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large {% block nav-about %}w3-hover-white"{% endblock %}>About</a>
    <a href="{% url 'contact' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large {% block nav-contact %}w3-hover-white"{% endblock %}>Contact</a>
    <a href="{% url 'test_view' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large {% block nav-test_view %}w3-hover-white"{% endblock %}>Test View</a>
{#    <a href="{% url 'join' %}" class="w3-right w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Join</a>#}
    <a href="{% url 'join' %}" class="w3-right w3-bar-item w3-button w3-hide-small w3-padding-large {% block nav-join %}w3-hover-white"{% endblock %}>Join</a>
{#    <a href="{% url 'login' %}" class="w3-right w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Login</a>#}
    <a href="{% url 'login' %}" class="w3-right w3-bar-item w3-button w3-hide-small w3-padding-large {% block nav-login %}w3-hover-white"{% endblock %}>Login</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="{% url 'homepage' %}" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a href="{% url 'grind' %}" class="w3-bar-item w3-button w3-padding-large">Grind</a>
    <a href="{% url 'knowledge_base' %}" class="w3-bar-item w3-button w3-padding-large">Knowledge Base</a>
    <a href="{% url 'join' %}" class="w3-bar-item w3-button w3-padding-large">Join</a>
    <a href="{% url 'about' %}" class="w3-bar-item w3-button w3-padding-large">About</a>
    <a href="{% url 'contact' %}" class="w3-bar-item w3-button w3-padding-large">Contact</a>
  </div>
</div>

</body>

</html>

