<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<h4>This is the <b>profile_info.html</b> html template page!</h4>
<p>The below is a form section with a POST method! It uses a csrf_token and Django's </p>
<hr>
{#<form method="post">#}
{#    {% csrf_token %}#}
{#    {{form.as_p}}#}
{#<input type="submit" value="Submit" />#}
{#</form>#}
{#<hr>#}
{#<p>I also really enjoy {{ form.first_favourite_subject }}</p>#}
{#<form method="get">#}
{#    {% csrf_token %}#}
{#    {{form.as_p}}#}
{#<input type="submit" value="Submit" />#}
{#</form>#}
</body>
</html>